# Тема “Вычисления с помощью Numpy”

## Задание 1

Импортируйте библиотеку Numpy и дайте ей псевдоним np.
Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. Будем считать, что каждый столбец - это признак, а строка - наблюдение. Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [53]:
import numpy as np

In [112]:
# зададим массивы
c = np.array([1, 2, 3, 3, 1])
c = c.reshape(1, 5)
b = np.array([6, 8, 11, 10, 7])
b = b.reshape(1, 5)

# объединим (сп-б 1) 
# a = np.concatenate((c, b), axis = 0)

# объединим (сп-б 2) 
a = np.vstack((c, b))

# перевернем матрицу
a = a.T

# расчитаем среднее и выведем
mean_a = a.mean(axis = 0)

print(a)
print(f'среднее значение: {mean_a}')

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]
среднее значение: [2.  8.4]

### Задание 2

Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [113]:
a_centered = a - mean_a

print(f'массив - среднее: {a_centered}')

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

### Задание 3

Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [134]:
#  Найдем скалярное произведение столбцов массива:
a_s = a_centered[0:5, 0]
a_p = a_centered[0:5, 1]

a_centered_sp = a_s.dot(a_p)

#  Найдем число наблюдений:
N = a.shape[0]

#  Найдем ковариацию (несмещенная оценка ковариации):
cov_a_sp = a_centered_sp / (N - 1)

print(f'Cкалярное произведение: {a_centered_sp}\nКовариация: {cov_a_sp}')

Cкалярное произведение: 8.0
Ковариация: 2.0

### Задание 4**

Число, которое мы получили в конце задания 3 является ковариацией двух признаков, содержащихся в массиве “а”. В задании 4 мы делили сумму произведений центрированных признаков на N-1, а не на N, поэтому полученная нами величина является несмещенной оценкой ковариации.
Подробнее узнать о ковариации можно здесь:
Выборочная ковариация и выборочная дисперсия — Студопедия
В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov. В качестве аргумента m функция np.cov должна принимать транспонированный массив “a”. В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом 1.

In [131]:
a_t = a.T
cov_a = np.cov(a_t)

print(f'Ковариация: {cov_a[0,1]}')

Ковариация: 2.0

## Тема “Работа с данными в Pandas”

### Задание 1

Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [239]:
import pandas as pd
auth = {
    "author_id": [1, 2, 3],
    "author_name": ['Тургенев', 'Чехов', 'Островский'] }

authors = pd.DataFrame(auth)
print(authors)

book = {
    "author_id": [1, 1, 1, 2, 2, 3, 3],
    "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    "price": [450, 300, 350, 500, 450, 370, 290]}

books = pd.DataFrame(book)
print(books)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский
   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

### Задание 2

Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [240]:
authors_price = pd.merge(authors, books, on='author_id', how='inner')
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

### Задание 3

Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [241]:
# чтобы отсортировать, продублируем ДФ authors_price
authors_prices = pd.DataFrame(authors_price)
authors_prices.sort_values(by="price", inplace=True)
# print(authors_price)
top5 = authors_prices[-5:len('author_name')]
print(top5)
# при этом первоначальная сортирвка сохранилась в authors_price
print(authors_price)

   author_id author_name         book_title  price
2          1    Тургенев  Дворянское гнездо    350
5          3  Островский              Гроза    370
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
3          2       Чехов   Толстый и тонкий    500
   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

### Задание 4

Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [242]:
authors_stats = authors_price.groupby("author_name")
# сформируем отдельные датафреймы для каждого параметра (min, max, mean)
# сразу переименуем заголовки
min_price = authors_stats.agg({"price": "min"}).rename({'price':'min_price'}, axis=1)
max_price = authors_stats.agg({"price": "max"}).rename({'price':'max_price'}, axis=1)
mean_price = authors_stats.agg({"price": "mean"}).rename({'price':'mean_price'}, axis=1)
# объединим созданные ДФ
authors_stat_1 = pd.merge(min_price, max_price, on='author_name', how='inner')
authors_stat = pd.merge(authors_stat_1, mean_price, on='author_name', how='inner')

authors_stat

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000

### Задание 5**

Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [224]:
 pd.pivot_table?

In [262]:
# дополним authors_price столбцом
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
# print(authors_price)
# создадим сводную таблицу (pd.pivot_table)
book_info = pd.pivot_table(authors_price,
                            index = ["author_name"],
                            columns = ["cover"],
                            values = ["price"],
                            aggfunc = np.sum)

# заменим пустые значения на 0
book_info.fillna('0', inplace=True)
print(book_info)
# запишем ДФ в файл book_info
book_info.to_pickle("book_info.pkl")
# загрузим датафрейм из этого файла 
book_info2 = pd.read_pickle("book_info.pkl")
print(book_info2)

             price
cover       мягкая твердая
author_name
Островский   660.0       0
Тургенев     650.0   450.0
Чехов            0   950.0
             price
cover       мягкая твердая
author_name
Островский   660.0       0
Тургенев     650.0   450.0
Чехов            0   950.0